@{
	ViewData["Title"] = "Main";
}
@section Styles {
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}



    <h1>To DO List</h1>
    <div class="button-container">
        <button>Görev Ekle</button><br>
        <button>Görevleri Listele</button><br>
        <button>Görevi Sil</button><br>
        <button>Çıkış</button>
    </div>

